[Unit]
Descritpion=Maestro: Network, Config, DeviceJS manager

[Service]
Restart=always
RestartSec=5s
Environment="LD_LIBRARY_PATH=/wigwag/system/lib"
ExecStart=/wigwag/system/bin/maestro -config /etc/maestro/config.yaml

[Install]
WantedBy=network.target
