[Unit]
Description=DeviceJS
After=devicedb.service
Require=devicedb.service

[Service]
Restart=always
RestartSec=10s
Environment= LD_PRELOAD=/usr/lib/libcrypto.so.1.0.2
Environment= NODE_PATH=/wigwag/devicejs-ng/node_modules
Environment= DEVJS_LOGGER={\"modulepath\":\"/wigwag/devicejs-core/modules/node_modules/grease-log-client\",\"type\":\"global\"}
MemoryMax=60M
ExecStart=/usr/bin/node --max-old-space-size=128 --max-semi-space-size=1 /wigwag/devicejs-ng/src/runtime-start --config=/wigwag/etc/devicedb/devicejs.conf
